.not-found {
  color: white;
  font-size: 5rem;
  text-align: center;
}

.go-home {
  color: white;
  font-size: 2rem;
  margin: 39%;
}

.go-home:hover {
  text-decoration: underline;
  color:rgb(0 229 155);
}