html {
  background-color: #06070d;
}
#tags-container {
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  height: fit-content;
}
#tags-header {
  width: 100%;
  margin:10px 0 10px 15px;
}
#addon-content-container {
  border:1px solid red;
  display: flex;
  flex-wrap: wrap;
}

#addon-readme {
  width: 80%;
  height: auto;
  text-align: center;
}
#addon-readme-more {
  width: 95%;
  margin-left:2.5%;
}
#addon-readme img{
  display: inline;
}
#addon-readme h1 {
  font-size:2em;
  font-weight: 700;
}
#addon-readme a {
  text-decoration: underline;
  color:blue;
}
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin:16px;
}
/* #addon-tag {
  border:1px solid gray;
  border-radius: 10px;
  display: flex;
  width: auto;
  margin:5px;
  padding:0 10px 0 10px;
  background-color:aliceblue;
  height: auto;
} */
#addon-readme-box {
  border:1px solid red;
  background-color: gray;
}

.lds-spinner {
  color: blue;
  display: inline-block;
  position: relative;
  width: 48px;
  height: 16px;
}
.lds-spinner div {
  transform-origin: 30px 12px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 14px;
  left: 18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
